<!DOCTYPE html>

<html>

<head>
 <link rel="stylesheet" href="/css/style.css">

<title>Home</title>
</head>

<body>
    <div class="main-content">
          {{>header}}
          <p>use this site to get the latest weather</p>
          <form>
            <input placeholder="location">
            <button>Search</button>    
          </form>
          <p id="message-1"></p>
          <p id="message-2"></p>
    </div>
   
    
    {{>footer}}
 <script src="/js/app.js" ></Script> 
</body>

</html>